<%- include('../partials/navbar') %>


<body>
    <form action= "/yelp/" method="POST">
    <label> Name: 
    <input type="string" name="name">
    </label>
    <label> Description 
        <input type="string" name="description">

    </label>
    <input type="submit" value="Add Restaurant">
</form=""> 

